
body {
  width: 100%;
  background-color: white;
  font-family: Raleway, sans-serif;
}

header {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 20px 50px;
  align-items: center;
}

.nav ul {
  display: grid;
  grid-auto-flow: column;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  color: inherit;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.logo {
  width: 148px;
  height: 105px;
}

.contact-info {
  display: grid;
  gap: 10px;
  justify-self: end;
  text-align: right;
}

.contact-info a {
  color: inherit;
  text-decoration: none;
  position: relative;
  text-align: left;
  padding-left: 0px;
  
}

.contact-info a:hover {
  text-decoration: underline;
}


.cover {
  position: relative;
  min-height: 500px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  
}

.cover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.cover-content {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 20px;
}

cover-title {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 400px; 
}
.cover-title-word {
  position: absolute;
  font-size: 86px;
  text-transform: uppercase;
  color: white;
}

.first-word {
  top: -40%;
  left: -25%;
}

.second-word {
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.third-word {
  bottom: -60px;
  right: 10px;
}

.cover-description {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.9em;
 
   
}



.button {
  padding: 12px 2px;
  font-size: 24px;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 2px;
  cursor: pointer;
  left: 70%;
  right: 40%;
  position: relative;
  
  bottom: -170px; 
  transform: translateX(-10%)
}


.lots {
  padding: 50px;
}

.lots-heading {
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.lots-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.lot {
  min-height: 400px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  position: relative;
}

.lot::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.lot-film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
}

.lot-book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
}

.lot-picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
}

.lot-link {
  text-decoration: none;
  color: inherit;
}

.lot-title, .lot-text {
  position: relative;
  z-index: 2;
}

.lot-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.lots-more {
  color: black;
  text-decoration: underline;
}


.about {
  padding: 50px;
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 50px;
}

.about-logo {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-logo-image {
  width: 150px;
  height: 150px;
}

.about-title {
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-text p {
  font-size: 18px;
  line-height: 1.5;
}


footer {
  background-color: white;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.footer-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-nav-link {
  color: inherit;
  text-decoration: none;
}

.footer-nav-link:hover {
  text-decoration: underline;

}

.socials {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
  justify-self: end;
}

.social-icon {
  width: 48px;
  height: 48px;
}

.footer-nav{
   margin: 0 auto;  
}